<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dribble React Practice</title>
    <!-- 引入 Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>

        /* 自定义CSS可以在此处添加 */
        /* 可以进行与页面布局相匹配的调整 */
        #topCanvasContainer {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; /* 固定画布高度为16:9的比例 */
            background-color: black; /* 修改背景色为黑色 */
            overflow: hidden; /* 隐藏视频溢出部分 */
        }
        #resultCanvas {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 5;
            object-fit: contain;
            
        }
        #bottomControls {
            padding: 10px; /* 控制栏内边距 */
            border-top: 1px solid #dee2e6; /* 控制栏上边框 */
            position: fixed; /* 绝对定位 */
            bottom: 20px; /* 底部对齐，并留出一定的间距 */
            left: 50%; /* 左侧居中 */
            transform: translateX(-50%); /* 通过 transform 属性水平居中 */
            width: 90%; /* 宽度90%，留出一定的边距 */
            background-color: rgba(248, 249, 250, 0.8); /* 使用 rgba() 来定义背景色和透明度 */
            border-radius: 10px; /* 圆角处理，应用于所有四个角 */
            z-index: 99;
        }

        #videoElement {
            /* display: none; */
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 6;
            object-fit: contain;
            opacity: 0.5;
            /* transform: scaleX(-1); */
        }

        #resultImg{
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 5;
            object-fit: contain;
        }

    </style>
<style>
    body {
        background-color: black; /* 设置页面背景颜色为黑色 */
        overflow: hidden;
    }

    .progress-circle { 
        --size: 190px;
        --border-width: calc(var(--size)*0.15);
        --color: white;
        --inactive-color: #3b3b3b;

        position: absolute;
        border-radius: 50%;
        display: none;
        
    }
    
    .progress-circle > svg {
        width: var(--size);
        height: var(--size);
        transform: rotate(90deg) scaleX(-1);
        cursor: pointer; /* 添加鼠标指针样式为手型 */
        transition: opacity 1s; /* 添加过渡效果，透明度变化需要1秒 */
    }

    .progress-circle > svg text{
        dominant-baseline: middle; /* 基准线设置为中线 */
        text-anchor: middle; /* 文本锚点设置为中心 */
        transform: rotate(-90deg) scale(1, -1); /* 逆时针旋转90度并垂直翻转 */
        font-weight: bold;
        font-size:calc(var(--size)*0.6);
    }

    
    .progress-circle circle {
        --r: calc(var(--size) / 2 - var(--border-width) / 2);
        cx: calc(var(--size) / 2);
        cy: calc(var(--size) / 2);
        r: var(--r);
        fill: none;
        stroke-width: var(--border-width);  
        stroke-linecap: round;
        transition: stroke-dasharray .3s linear, stroke .3s;
    }
    .progress-circle circle:first-child {
        stroke-opacity: 0.5; /* 设置第一个圆圈的不透明度为 0.5 */
    }

    .progress-circle .background-circle {
        fill: rgb(80, 255, 100);
        r: calc(var(--r) - var(--border-width) / 2 - var(--border-width)*0.2);
    }

    .progress-circle .background-circle-bad {
        fill: red;
        r: calc(var(--r) - var(--border-width) / 2 - var(--border-width)*0.2);
    }

    .progress-circle .fade-circle {
        fill: none; /* 设置填充为透明 */
        stroke: white; /* 设置边框颜色为白色 */
        stroke-width: var(--border-width); /* 设置边框宽度为5像素 */
        /* r: var(--border-width); */
    }

    .score-raise {
        color: white; /* 设置文本颜色为白色 */
        font-size: calc(var(--size)*0.75); /* 设置字体大小 */
        font-weight: bold; /* 设置字体粗细 */
    }

    #scoreDisplay {
        --canvasLeft:10px;
        --canvasTop:10px;
        --canvasWidth:200px;
        --canvasHeight:200px;
        --scoreDisplayWidth:calc(var(--canvasWidth)*0.155);
        --scoreDisplayHeight:calc(var(--canvasHeight)*0.17);
        --offset: calc(var(--canvasWidth)*0.15*0.15);

        position: fixed;
        left: var(--canvasLeft);
        top: var(--canvasTop);
        margin-left: var(--offset);
        margin-top: var(--offset);
        font-size: calc(var(--scoreDisplayWidth)*0.5); /* 字体大小 */
        width:var(--scoreDisplayWidth);
        height:var(--scoreDisplayHeight);
        border-radius: 10%; /* 圆角 */
        background-color: rgba(0, 0, 0, 0.5); /* 背景色为透明黑色 */
        color: white; /* 文本颜色为白色 */
        display: flex; /* 使用 Flexbox 布局 */
        align-items: center; /* 垂直居中 */
        justify-content: center; /* 水平居中 */
        transition: transform 0.2s ease-in-out; /* 变换效果 */
        z-index: 99;
    }

    #score {
        display: grid;
        place-items: center;
        font-weight: bold;
    }


    #TimeDisplay {
        --canvasLeft:10px;
        --canvasTop:10px;
        --canvasWidth:200px;
        --canvasHeight:200px;
        --scoreDisplayWidth:calc(var(--canvasWidth)*0.175);
        --scoreDisplayHeight:calc(var(--canvasHeight)*0.17);
        --offset: calc(var(--canvasWidth)*0.15*0.15);

        position: fixed;
        right: var(--canvasLeft);
        top: var(--canvasTop);
        margin-right: var(--offset);
        margin-top: var(--offset);
        font-size: calc(var(--scoreDisplayWidth)*0.35); /* 字体大小 */
        width:var(--scoreDisplayWidth);
        height:var(--scoreDisplayHeight);
        border-radius: 10%; /* 圆角 */
        background-color: rgba(0, 0, 0, 0.5); /* 背景色为透明黑色 */
        color: white; /* 文本颜色为白色 */
        display: flex; /* 使用 Flexbox 布局 */
        align-items: center; /* 垂直居中 */
        justify-content: center; /* 水平居中 */
        transition: transform 0.2s ease-in-out; /* 变换效果 */
        z-index: 99;
    }

    #Time {
        display: grid;
        place-items: center;
        font-weight: bold;
    }

  
</style>
</head>
<body>
    <div id="topCanvasContainer">
        <!-- 用于结果的画布 -->
        <canvas id="resultCanvas"></canvas>
        <video id="videoElement" autoplay></video>
        <img id="resultImg">

    </div>

    <div id="bottomControls" class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- 用于上传MP4的文件输入 -->
                <input type="file" id="fileInput" class="form-control mb-3" accept=".mp4">
                <!-- 文件开始/停止录制按钮 -->
                <div id="modeButtons" class="mb-3">
                    <button id="realTimeModeButton" class="btn btn-primary mr-2">实时模式</button>
                    <button id="postProcessingModeButton" class="btn btn-primary">后处理模式</button>
                </div>
                <div class="mb-3">
                    <button id="startButtonFile" class="btn btn-primary mr-2">开始录制</button>
                    <button id="stopButtonFile" class="btn btn-danger" disabled>停止录制</button>
                    <button id="playButtonFile" class="btn btn-danger">继续录制</button>
                    <button id="pauseButtonFile" class="btn btn-danger">暂停录制</button>
                </div>
            </div>
            <div class="col-md-6">
                <!-- 开始/停止录制按钮 -->
                <div class="mt-3">
                    <button id="startButton" class="btn btn-primary mr-2">开始录制</button>
                    <button id="stopButton" class="btn btn-danger" disabled>停止录制</button>
                </div>
                <!-- 跳转帧按钮 -->
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="jumpFrame">
                    <label class="form-check-label" for="jumpFrame">跳转帧</label>
                </div>
                <div id="jumptext"></div>
                <div>
                    <label for="fpsDelayInput">FPS:</label>
                    <input type="number" id="fpsDelayInput" value="15">
                    <button id="updateFpsDelayButton">Update</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>    <script>
        // 你的JavaScript代码放在这里
        let videoStream;
        let audioStream;
        let audio_mediaRecorder;
        let mediaSource;
        let sourceBuffer;
        // let vidio_mediaRecorder;
        let dingshi;
        let jump=false;
        let jpcount=0;
        let audioChunks = [];
        let audioContext;
        let mediaRecorder;
        let width;
        let height;
        let resetCanvasSize=1;
        let all_frame=[];
        let frameCount=0;
        let originTime=Date.now();
        let lastFrame=Date.now();
        let ct1,ct2,ct3;
        let worker = new Worker('static/worker.js');
        let uniqueIdentifier;
        let points=[];

        const startButton = document.getElementById('startButton');
        const stopButton = document.getElementById('stopButton');
        const startButtonFile = document.getElementById('startButtonFile');
        const stopButtonFile= document.getElementById('stopButtonFile');
        var resultCanvas = document.getElementById("resultCanvas");
        var resultContext = resultCanvas.getContext("2d");
        const video = document.getElementById("videoElement");
        const jumpFrame = document.getElementById("jumpFrame");
        const jumptext=document.getElementById("jumptext");

        let fileInput = document.getElementById('fileInput');
        const topCanvasContainer = document.getElementById('topCanvasContainer');
        const bottomControls = document.getElementById('bottomControls');
        const blobURLPattern = /blob:(.*\/)([a-zA-Z0-9\-]+)$/; // 更精确的正则表达式
        const imgElement=document.getElementById('resultImg');
        const realTimeModeButton=document.getElementById('realTimeModeButton');
        const postProcessingModeButton=document.getElementById('postProcessingModeButton');
        let tempCanvas=document.createElement("canvas");
        let tempContext=tempCanvas.getContext("2d");
        let timer; // 用于存储定时器引用
        let fps=15;
        let points_and_time=[];
        var player=undefined;
        var ball_r=0;
        let temp_point=[];
        let keypoints=[];
        // 设置初始时间
        var minutes = 1;
        var seconds = 0;

        const playButtonFile=document.getElementById("playButtonFile");
        const pauseButtonFile=document.getElementById("pauseButtonFile");

        // 获取元素
        const fpsDelayInput = document.getElementById('fpsDelayInput');
        const updateFpsDelayButton = document.getElementById('updateFpsDelayButton');

        let updateCountdownTimer=undefined;
        function updateCountdown() {
            var countdownElement = document.getElementById('Time');
            // 如果时间不为 0，则继续倒计时
            if (minutes > 0 || seconds > 0) {
                // 减少一秒
                seconds--;
                // 如果秒数为负数，则减少分钟，并将秒数重置为 59
                if (seconds < 0) {
                    minutes--;
                    seconds = 59;
                }
                // 格式化时间，并更新到页面上
                countdownElement.innerHTML = (minutes < 10 ? '0' : '') + minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
                // 每秒调用一次更新倒计时函数
                updateCountdownTimer=setTimeout(updateCountdown, 1000);
            } else {
                // 时间到，执行相应的操作
                countdownElement.innerHTML = "00:00";
                // 在这里添加你想要执行的操作
            }
        }

        // 添加点击事件监听器
        updateFpsDelayButton.addEventListener('click', function() {
            // 获取输入框中的值并转换为整数
            const newFpsDelay = parseInt(fpsDelayInput.value);
            
            // 更新 fps_delay 变量的值
            fps = newFpsDelay;
            
            // 可以在这里执行任何其他相关的操作
            console.log('FPS Delay updated to:', fps);
        });


        startButtonFile.addEventListener('click',async () =>{
            ct1=0,ct2=0,ct3=0;
            capCost=0;
            frameCount=0;
            resetCanvasSize=1;
            let file = fileInput.files[0];
            let videoURL = URL.createObjectURL(file);
            video.src = videoURL;

            const formData = new FormData();
            formData.append('mp4File', file);

            try {
                const response = await fetch('/upload_mp4', {
                    method: 'POST',
                    body: formData
                });
            } catch (error) {
                console.error('Error uploading file:', error);
                alert('Error uploading file.');
            }
            startButtonFile.disabled = true;
            stopButtonFile.disabled = false;
            generateRandomProgressCircles(Graph_index);
        })
        stopButtonFile.addEventListener('click',async () =>{
            clearInterval(dingshi); // 停止发送帧数据
            startButtonFile.disabled = false; // 启用开始录制按钮
            stopButtonFile.disabled = true; // 禁用停止录制按钮
            const formData = new FormData();
                // formData.append('audio', blob, 'audio.wav');
                formData.append('isFromCamera',false);
                formData.append('imgWidth',width);
                formData.append('imgHeight',height);
                formData.append('fps',fps);
                await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });
                video.pause();
                console.log(frameCount);
        })

        function EveryFrame(){
            let ct0=Date.now();
            let ct00=Date.now();
            // while(ct0-lastFrame<(1000/fps)){
            //     ct0=Date.now();
            // }
            if((1000/fps)-(ct0-lastFrame)>=10){
                dingshi=setTimeout(EveryFrame,9);
                return;
            }
            else{
                while(ct0-lastFrame<(1000/fps)){
                    ct0=Date.now();
                }
            }
            ct1=ct0-lastFrame;
            lastFrame=Date.now();
            // console.log('frame gap',ct1,"cap",ct2,"send",ct3,"wait",lastFrame-ct00);
            const {imageData,imageWidth,imageHeight} = captureFrame(video);
            ct2=Date.now()-lastFrame;
            temp=Date.now();
            // all_frame.push(imageData);
            sendData(imageData,imageWidth,imageHeight,false);
            ct3=Date.now()-temp;
            
            dingshi=setTimeout(EveryFrame,0);
        }
        function canvas_n2window_XY(nx,ny){
            const rect = resultCanvas.getBoundingClientRect();
            let realVideo={};
            if (resultCanvas.height*rect.width>resultCanvas.width*rect.height){
                realVideo.height=rect.height;
                realVideo.width=realVideo.height*(resultCanvas.width/resultCanvas.height);
            }
            else{
                realVideo.width=rect.width;
                realVideo.height=realVideo.width*(resultCanvas.height/resultCanvas.width);
            }
            realVideo.left=(rect.width-realVideo.width)*0.5;
            realVideo.top=(rect.height-realVideo.height)*0.5;
            // let scale=resultCanvas.width/realVideo.width;
            let x = nx*realVideo.width+realVideo.left;
            let y = ny*realVideo.height+realVideo.top;
            return {x:x,y:y}; 
        }

        function canvas2window_XY(cx,cy){
            const rect = resultCanvas.getBoundingClientRect();
            let realVideo={};
            if (resultCanvas.height*rect.width>resultCanvas.width*rect.height){
                realVideo.height=rect.height;
                realVideo.width=realVideo.height*(resultCanvas.width/resultCanvas.height);
            }
            else{
                realVideo.width=rect.width;
                realVideo.height=realVideo.width*(resultCanvas.height/resultCanvas.width);
            }
            realVideo.left=(rect.width-realVideo.width)*0.5;
            realVideo.top=(rect.height-realVideo.height)*0.5;
            let scale=resultCanvas.width/realVideo.width;
            let x = cx/scale + realVideo.left;
            let y = cy/scale + realVideo.top;
            return {x:x,y:y};            
        }

        function window2canvas_XY(wx,wy){
            const rect = resultCanvas.getBoundingClientRect();
            let realVideo={};
            if (resultCanvas.height*rect.width>resultCanvas.width*rect.height){
                realVideo.height=rect.height;
                realVideo.width=realVideo.height*(resultCanvas.width/resultCanvas.height);
            }
            else{
                realVideo.width=rect.width;
                realVideo.height=realVideo.width*(resultCanvas.height/resultCanvas.width);
            }
            realVideo.left=(rect.width-realVideo.width)*0.5;
            realVideo.top=(rect.height-realVideo.height)*0.5;
            let scale=resultCanvas.width/realVideo.width;
            let x = (wx - realVideo.left)*scale;
            let y = (wy - realVideo.top)*scale;
            return {x:x,y:y};
            
        }
        video.addEventListener('play',() =>{
            let match = blobURLPattern.exec(video.src);
            if (match) {
                 uniqueIdentifier = match[2];
                console.log(uniqueIdentifier); // 这里就是提取到的唯一标识符
            } else {
                uniqueIdentifier = Math.random().toString(36).substr(2, 9);
                console.error('Failed to extract unique identifier from video src.');
                console.log(uniqueIdentifier)
            }
            originTime=Date.now();
            EveryFrame();
            // bottomControls.style.display = 'none';
            const scoreDisplayDiv=document.querySelectorAll('#scoreDisplay');
            if (scoreDisplayDiv.length<1){
                const scoreDisplay=document.createElement("div");
                const scoreSpan=document.createElement("span");
                scoreDisplay.setAttribute('id',"scoreDisplay");
                scoreSpan.setAttribute('id','score');
                scoreSpan.innerHTML=0;
                scoreDisplay.appendChild(scoreSpan);
                let left_top=canvas_n2window_XY(0,0);
                let right_bottom=canvas_n2window_XY(1,1);
                let width=right_bottom.x-left_top.x;
                let height=right_bottom.y-left_top.y;
                scoreDisplay.style.setProperty('--canvasLeft',left_top.x+'px');
                scoreDisplay.style.setProperty('--canvasTop',left_top.y+'px');
                scoreDisplay.style.setProperty('--canvasWidth',width+'px');
                scoreDisplay.style.setProperty('--canvasHeight',height+'px');
                console.log("scoreDisplay",left_top.x,left_top.y);
                // scoreDisplay.style.left=left_top.x+'px';
                // scoreDisplay.style.top=left_top.y+'px';
                topCanvasContainer.appendChild(scoreDisplay);
            }

            const TimeDisplayDiv=document.querySelectorAll('#TimeDisplay');
            if (TimeDisplayDiv.length<1){
                const TimeDisplay=document.createElement("div");
                const TimeSpan=document.createElement("span");
                TimeDisplay.setAttribute('id',"TimeDisplay");
                TimeSpan.setAttribute('id','Time');

                TimeSpan.innerHTML='01:00';
                TimeDisplay.appendChild(TimeSpan);
                let left_top=canvas_n2window_XY(0,0);
                let right_bottom=canvas_n2window_XY(1,1);
                let width=right_bottom.x-left_top.x;
                let height=right_bottom.y-left_top.y;
                TimeDisplay.style.setProperty('--canvasLeft',left_top.x+'px');
                TimeDisplay.style.setProperty('--canvasTop',left_top.y+'px');
                TimeDisplay.style.setProperty('--canvasWidth',width+'px');
                TimeDisplay.style.setProperty('--canvasHeight',height+'px');
                console.log("TimeDisplay",left_top.x,left_top.y);
                topCanvasContainer.appendChild(TimeDisplay);
                // setTimeout(updateCountdown(),500);
                updateCountdown();
            }


        })

        video.addEventListener('ended', async () => {
            bottomControls.style.display = 'block';
            console.log('all frame',frameCount,Date.now()-originTime);
            clearTimeout(dingshi);
            clearTimeout(updateCountdownTimer);
            // clearTimeout(generate_timeout);
            // clearTimeout(timer_runBar);
            startButtonFile.disabled = false; // 启用开始录制按钮
            stopButtonFile.disabled = true; // 禁用停止录制按钮
            const formData = new FormData();
                // formData.append('audio', blob, 'audio.wav');
                formData.append('isFromCamera',false);
                formData.append('imgWidth',width);
                formData.append('imgHeight',height);
                formData.append('uuid',uniqueIdentifier)
                formData.append('fps',fps);
                await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });
                console.log(points_and_time);
        });

        startButton.addEventListener('click', async () => {
            resetCanvasSize=1;
            videoStream = await navigator.mediaDevices.getUserMedia({ video: true });
            audioStream = await navigator.mediaDevices.getUserMedia({ audio: true });
            video.srcObject = videoStream;

            audio_mediaRecorder = new MediaRecorder(audioStream);
            audio_mediaRecorder.addEventListener('dataavailable', event => {
                audioChunks.push(event.data);
                console.log("这",event.data);
            });
            audio_mediaRecorder.addEventListener('stop', async () => {
                const blob = new Blob(audioChunks, { type: 'audio/wav' });
                const formData = new FormData();
                formData.append('audio', blob, 'audio.wav');
                formData.append('isFromCamera',true);
                formData.append('imgWidth',width);
                formData.append('imgHeight',height);
                formData.append('uuid',uniqueIdentifier);
                formData.append('fps',fps);
                await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });
                //一定要清空！！！
                audioChunks=[];
            });

            audio_mediaRecorder.start();

            startButton.disabled = true;
            stopButton.disabled = false;
            generateRandomProgressCircles(Graph_index);

        });

        stopButton.addEventListener('click', () => {
            audio_mediaRecorder.stop();
            clearTimeout(dingshi);
            videoStream.getTracks().forEach(track => track.stop());
            audioStream.getTracks().forEach(track => track.stop());
            startButton.disabled = false;
            stopButton.disabled = true;
        });

        jumpFrame.addEventListener("click", () => {
            jump=!jump;
            jumptext.innerText=jump;

        });   

        function captureFrame(video) {
            frameCount++;

            // const canvas = document.createElement("canvas");
            const maxWidth = 640;
            const maxHeight = 640;
            width = video.videoWidth;
            height = video.videoHeight;
            if(resetCanvasSize){
                resultCanvas.width=width;
                resultCanvas.height=height;
                resetCanvasSize=0;

            }

            // 如果视频的宽度或高度大于最大宽度或高度，进行等比例缩放
            if (width > maxWidth || height > maxHeight) {
                const aspectRatio = width / height;
                if (aspectRatio > 1) {
                    // 宽度大于高度，按照宽度进行缩放
                    width = maxWidth;
                    height = maxWidth / aspectRatio;
                } else {
                    // 高度大于宽度，按照高度进行缩放
                    height = maxHeight;
                    width = maxHeight * aspectRatio;
                }
            }
            //得是偶数
            width=width-width%2
            height=height-height%2

            tempCanvas.width = width;
            tempCanvas.height = height;
            for(let obj of points_and_time){
                if (obj.frame==frameCount){
                    resultContext.clearRect(0, 0, resultCanvas.width, resultCanvas.height);
                    for(let p of obj.points){
                        resultContext.beginPath();
                        resultContext.arc(p[0], p[1], 80, 0, 2 * Math.PI);
                        resultContext.fillStyle = 'red';
                        resultContext.fill();
                    }
                }
            }
            tempContext.drawImage(video, 0, 0, tempCanvas.width, tempCanvas.height);
            
                            // 在这里应用水平翻转
    // tempContext.save(); // 保存当前绘图状态
    // tempContext.scale(-1, 1); // 水平翻转
    // tempContext.drawImage(video, -tempCanvas.width, 0, tempCanvas.width, tempCanvas.height); // 绘制翻转后的视频帧
    // tempContext.restore(); // 恢复绘图状态

            let data=tempCanvas.toDataURL("image/jpeg");
            return {
                imageData:data,
                imageWidth:width,
                imageHeight:height
            }
        }
        function calculateDistance(x1, y1, x2, y2) {
            const dx = x2 - x1;
            const dy = y2 - y1;
            return Math.sqrt(dx * dx + dy * dy);
        }

      // 发送数据到服务器
        function sendData(imageData,imageWidth,imageHeight,flipFrame) {
        if(jump){
            jpcount++;
        }
        else{
            jpcount=1;
        }
        fetch("/process_frame", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ 
            image_data: imageData,
            jumpORnot:jpcount%2,
            imgWidth:imageWidth,
            imgHeight:imageHeight,
            imgFlip:flipFrame,
            uuid:uniqueIdentifier
        }),
        })
          .then((response) => response.json())
          .then((data) => {
            if(resultCanvas.width==0 || resultCanvas.height==0){
                resultCanvas.width=video.videoWidth;
                resultCanvas.height=video.videoHeight;
            }
            if(video.style.zIndex<imgElement.style.zIndex || video.style.zIndex<resultCanvas.style.zIndex){
                imgElement.src = "data:image/jpeg;base64," + data.image_data;

                let extra_data=data.extra_data;
                if(extra_data.player.length>=1){
                    player=extra_data.player[0];
                }
                
                if (extra_data.ball.length>=1){
                    resultContext.clearRect(0, 0, resultCanvas.width, resultCanvas.height);
                    let ball=extra_data.ball[0];
                    let bp1=canvas_n2window_XY(ball[0],ball[1]);
                    let bp2=canvas_n2window_XY(ball[2],ball[3]);
                    let cx,cy;
                    cx=(bp1.x+bp2.x)/2.0;
                    cy=(bp1.y+bp2.y)/2.0;
                    ball_r = (bp2.x-bp1.x)/2.0;                
                }
                if(extra_data.coordinates.length>=1){
                    keypoints=extra_data.coordinates[0];
                    resultContext.clearRect(0, 0, resultCanvas.width, resultCanvas.height);
                    let left_hand=canvas_n2window_XY(keypoints[9][0],keypoints[9][1]);
                    let right_hand=canvas_n2window_XY(keypoints[10][0],keypoints[10][1]);

                    const existingSVGs = document.querySelectorAll('.progress-circle');
                    for(let div of existingSVGs){
                        const svg = div.querySelector('svg');
                        let center=getSvgCenter(svg);
                        let svg_r = svg.getBoundingClientRect().width/2.0;
                        let offset=60;
                        if(calculateDistance(center.x, center.y, left_hand.x, left_hand.y) < offset+svg_r || calculateDistance(center.x, center.y, right_hand.x, right_hand.y) < offset+svg_r){
                            const clickEvent = new MouseEvent('click', {
                                bubbles: true,
                                cancelable: true,
                                view: window
                                });
                            svg.dispatchEvent(clickEvent);
                        }
                    }  
                }
            }
            

            // console.log(player);
            })
          .catch((error) => {
            console.error("Error sending data to server: ", error);
            // alert("An error occurred while processing the frame. Please try again later.");
          });
      }

        bottomControls.addEventListener('click',()=>{
            if (timer) {
                    clearTimeout(timer);
                }
        })


        // 点击 #topCanvasContainer 时触发的函数
        topCanvasContainer.addEventListener('click', () => {
            // 显示 #bottomControls
            if (bottomControls.style.display==='block'){
                bottomControls.style.display='none';
            }
            else{
                bottomControls.style.display = 'block';
                            // 如果之前已经设置了定时器，则清除之前的定时器
                if (timer) {
                    clearTimeout(timer);
                }
                // 设置一个定时器，在 6 秒后隐藏 #bottomControls
                timer = setTimeout(() => {
                    bottomControls.style.display = 'none';
                }, 3000);
            }
        });
        
        realTimeModeButton.addEventListener('click',() =>{
            video.style.zIndex="5";
            resultCanvas.style.zIndex="7";
            imgElement.style.zIndex="6";
        })
        postProcessingModeButton.addEventListener('click',() =>{
            video.style.zIndex="6";
            resultCanvas.style.zIndex="7";
            imgElement.style.zIndex="5";

        })
    </script>
    <script>
        let generate_timeout=undefined;
        let lastSvgBar=Date.now();

        let Graph_index=0;
        let timer_runBar=undefined;
        let lastPoint=Math.random();
        let g_percent=100;
        function getSvgCenter(svg) {
            const rect = svg.getBoundingClientRect();
            const centerX = rect.left + rect.width / 2;
            const centerY = rect.top + rect.height / 2;
            return { x: centerX, y: centerY };
        }
        // Function to create a random progress circle
        function createRandomProgressCircle(index,randomTag=true,_left=0,_top=0,each_score=2,click=true) {

            const progressCircle = document.createElement('div');
            progressCircle.classList.add('progress-circle');
            if(ball_r!=0){
                const sizeValue = (1.7 * ball_r) + 'px'; // 在值后面连接 'px'
                progressCircle.style.setProperty('--size', sizeValue);
            } 

            let left, top;
            if(randomTag==true){         
                do {
                    let random_x,random_y;
                    random_x = Math.random();
                    random_y = Math.random();

                    while((index!=0 && ((lastPoint<0.5 && random_x<0.5) || (lastPoint>0.5 && random_x>0.5))) || ((random_x>player[0] && random_x<player[2]) && (random_y>player[1] && random_y<player[3])) || random_x<0.05 || random_x>0.9){
                        random_x = Math.random();
                    }
                    while(((random_x>player[0] && random_x<player[2]) && (random_y>player[1] && random_y<player[3])) || random_y<0.1 || random_y>0.85*keypoints[14][1]){
                        random_y = Math.random();
                    }
                    lastPoint=random_x;
                    let random_point=canvas_n2window_XY(random_x,random_y);
                    left=random_point.x;
                    top=random_point.y;
                } while (isOverlapping(left, top));
            }
            else{
                left=_left;
                top=_top;
            }

            progressCircle.style.left = `${left}px`;
            progressCircle.style.top = `${top}px`;
            progressCircle.style.display = 'block'; // Ensure it's displayed
            if(click){
                let clickAvailable=true;
                progressCircle.innerHTML = `
                    <svg onclick="handleClick(event,this)" click_available="${clickAvailable}" svg_index="${index}" svg_score="${each_score}">
                        <circle stroke="var(--inactive-color)" />
                        <circle stroke="var(--color)" class="progress-value" />
                        <circle class="background-circle" />
                        <text x="-50%" y="-50%"></text>
                    </svg>
                `;
            }
            else{
                let clickAvailable=true;
                progressCircle.innerHTML = `
                    <svg onclick="handleClick(event,this)" click_available="${clickAvailable}" svg_index="${index}" svg_score="${each_score}">
                        <circle stroke="var(--inactive-color)" />
                        <circle stroke="var(--color)" class="progress-value" />
                        <circle class="background-circle-bad" />
                        <text x="-50%" y="-50%">×</text>
                    </svg>
                `;
            }

            document.body.appendChild(progressCircle);
        }

        // Function to check if the newly generated circle overlaps with existing circles
        function isOverlapping(left, top) {
            const circles = document.querySelectorAll('.progress-circle');
            for (const circle of circles) {
                const rect1 = {
                    x: left,
                    y: top,
                    width: 150, // Assuming each circle has a width and height of 100px
                    height: 150
                };
                const rect2 = circle.getBoundingClientRect();
                if (rect1.x < rect2.x + rect2.width &&
                    rect1.x + rect1.width > rect2.x &&
                    rect1.y < rect2.y + rect2.height &&
                    rect1.y + rect1.height > rect2.y) {
                    return true; // Overlapping
                }
            }
            return false; // Not overlapping
        }

        // Function to handle click event
        function handleClick(event,svg) {
            event.preventDefault();
                // 获取鼠标点击的坐标位置
            const clickX = event.clientX;
            const clickY = event.clientY;
            console.log('鼠标点击位置：', clickX, clickY);
                // 如果SVG元素已经在处理点击，则不再接受其他点击
            if (svg.getAttribute('click_available') === 'false') {
                return;
            }
            // 设置SVG元素正在处理点击
            svg.setAttribute('click_available', 'false');
            let svgNextIndex = parseInt(svg.getAttribute('svg_index'))+1;
            const svgNext = document.querySelector('svg[svg_index="'+svgNextIndex+'"]');
            if (svgNext){
                svgNext.setAttribute('click_available', 'true');
            }

            let left_top=canvas_n2window_XY(0,0);
            let right_bottom=canvas_n2window_XY(1,1);
            let width=right_bottom.x-left_top.x;
            let height=right_bottom.y-left_top.y;
            let scoreDisplay=document.getElementById('scoreDisplay');
            scoreDisplay.style.setProperty('--canvasLeft',left_top.x+'px');
            scoreDisplay.style.setProperty('--canvasTop',left_top.y+'px');
            scoreDisplay.style.setProperty('--canvasWidth',width+'px');
            scoreDisplay.style.setProperty('--canvasHeight',height+'px');
            console.log("scoreDisplay",left_top.x,left_top.y);
            scoreDisplay.style.left=left_top.x+'px';
            scoreDisplay.style.top=left_top.y+'px';


            // 创建包含+8的div元素
            let score=svg.getAttribute('svg_score');
            if(parseInt(score)>0){
                score=Math.floor(score*(g_percent/100.0));
            }
            let scoreSpan=document.getElementById('score');
            let newScore=parseInt(scoreSpan.innerHTML)+parseInt(score);
            scoreSpan.innerHTML=newScore;

            let scoreRaise = document.createElement('svg');
            scoreRaise.classList.add('score-raise');
            if(parseInt(score)>0){
                scoreRaise.innerHTML = '<span>+'+score+'</span>';
            }
            else{
                scoreRaise.innerHTML = '<span>'+score+'</span>';
                scoreRaise.style.color='red';
            }
            
            // 将scoreRaise添加到svg的父元素中
            svg.parentElement.appendChild(scoreRaise);
            // svg.parentElement.style.zIndex='99';

            scoreRaise.style.position = 'absolute';
            scoreRaise.style.left='50%';
            scoreRaise.style.width='auto';
            scoreRaise.style.transform = 'translateY(0)'; // 初始时不进行位移


            setTimeout(() => {


                if(parseInt(score)>0){
                    scoreRaise.style.transition='transform 1s ease-out';
                    scoreRaise.style.transform = 'translateY(-70px)'; // 假设+8上升50px

                    scoreSpan.style.transition='transform 0.2s ease-out , color 0.2s';
                    scoreSpan.style.transform = 'scale(1.3)';
                    scoreSpan.style.color='green';
                }
                else{
                    scoreRaise.style.transition='transform 1s ease-out';
                    scoreRaise.style.transform = 'translateY(-70px)'; // 假设+8上升50px

                    scoreSpan.style.transition='transform 0.2s ease-out , color 0.2s';
                    scoreSpan.style.transform = 'scale(1.5)';
                    scoreSpan.style.color='red';
                }
                
                setTimeout(()=>{
                    scoreSpan.style.transform = 'scale(1)';
                    scoreSpan.style.color='white';   
                },200)

             }, 50); // 延迟100毫秒执行上升动画，确保元素已经被添加到DOM中

            setTimeout(()=>{
                scoreRaise.style.transition='transform 1s ease-out, opacity 0.5s ease-out';
                scoreRaise.style.transform = 'translateY(-200px)'; // 假设+8上升50px
                scoreRaise.style.opacity = '0';    
    
            },500)

            svg.style.transform='rotate(90deg) scaleX(-1) scale(3)'
            svg.style.transition = 'transform 0.5s ease-out, opacity 1s ease-out';
            svg.style.opacity = '0';
            
            setTimeout(()=>{
                svg.style.transform='rotate(90deg) scaleX(-1) scale(0.5)'
                svg.style.transition = 'transform 0.5s ease-out, opacity 1s ease-out';
            },150)
            // 最后移除 SVG 元素的父元素，即整个 SVG 元素逐渐消失
            setTimeout(() => {
                if (svg.parentElement){
                    svg.parentElement.remove();
                }  
            }, 1000); // 延迟1秒执行移除操作，保证整个动画执行完毕
            // const center = getSvgCenter(svg);
            // console.log('SVG圆心位置：', center.x, center.y);
        }
     
        function runSvgsBar(percent=100){
            const existingSVGs = document.querySelectorAll('.progress-circle');
            let len=existingSVGs.length;
            if(len<1){
                // Graph_index=(Graph_index+1)%pointGraph.length;
                generate_timeout=setTimeout(function() {
                    console.log("runBar 前面点击 产生的")
                    generateRandomProgressCircles(Graph_index); // 传递参数给 generateRandomProgressCircles
                }, 200);
                return;
            }
            if (percent > 0) {
                percent -= 1;
                g_percent=percent;
                for(let progressCircle of existingSVGs){
                    const progressBar = progressCircle.querySelector('.progress-value');
                    progressBar.style.strokeDasharray = `calc(2 * 3.1415 * var(--r) * ${percent} / 100), 1000`;
                }
                timer_runBar=setTimeout(() => {
                    runSvgsBar(percent);
                }, 30);
                if(len==1){
                    const badSvg = existingSVGs[0].querySelector('svg');
                    let the_score=parseInt(badSvg.getAttribute('svg_score'));
                    if(the_score<0){
                        existingSVGs[0].remove();
                    }
                }
            } 
            else {
                for(let progressCircle of existingSVGs){
                    progressCircle.remove();
                }
                // Graph_index=(Graph_index+1)%pointGraph.length;
                generate_timeout=setTimeout(function() {
                    console.log("runBar 产生的")
                    generateRandomProgressCircles(Graph_index); // 传递参数给 generateRandomProgressCircles
                }, 200);
            }
        }
        
        document.addEventListener("keydown", function(event) {
        // 如果按下的是空格键
        if (event.keyCode === 32) {
            // 如果视频正在播放，就暂停；否则，就播放
            if (video.paused) {
            video.play();
            } else {
            video.pause();
            }
        }
        if (event.keyCode === 13) {
            points_and_time.push(temp_point);
            temp_point=[];
            console.log(points_and_time);
        }
        if (event.keyCode === 39){  
            if(timer_runBar){
                clearTimeout(timer_runBar);
            }  
            const existingSVGs = document.querySelectorAll('.progress-circle');
            for(let progressCircle of existingSVGs){
                    progressCircle.remove();
                }
            // Graph_index=(Graph_index+1)%pointGraph.length;
            generateRandomProgressCircles(Graph_index);
        }
        if (event.keyCode === 37){
            if(timer_runBar){
                clearTimeout(timer_runBar);
            }
            const existingSVGs = document.querySelectorAll('.progress-circle');
            for(let progressCircle of existingSVGs){
                    progressCircle.remove();
                }
            Graph_index-=1;
            if(Graph_index<0){
                // Graph_index=pointGraph.length-1;
            }
            generateRandomProgressCircles(Graph_index);

            // Graph_index=(Graph_index-1)%pointGraph.length;
        }
        

    });
        // Function to generate random progress circles
        function generateRandomProgressCircles(Graph_index) {
            const existingSVGs = document.querySelectorAll('.progress-circle');
            if (existingSVGs.length === 0) {
                let ball2r=2*ball_r;

                if (player!=undefined && ball2r!=0){
                    let index=1;
                    let SvgNum=Math.floor(Math.random() * 3)+1;
                    if(SvgNum==3){
                        createRandomProgressCircle(index,true,0,0,-16,false);
                    }
                    for(let i=0;i<Math.min(SvgNum,2);i++){
                        createRandomProgressCircle(index,true,0,0,8*Math.min(SvgNum,2));
                        index++;
                    }
                    runSvgsBar(100);
                }
                else{
                    generate_timeout=setTimeout(function() {
                        console.log("gennerate 产生的")
                        generateRandomProgressCircles(Graph_index); // 传递参数给 generateRandomProgressCircles
                    }, 1000);
                }
            }
        }
    </script>
</body>
</html>
