<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC Recorder</title>
    <!-- 引入 Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* 自定义CSS可以在此处添加 */
        /* 可以进行与页面布局相匹配的调整 */
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <!-- 视频元素 -->
                <video id="videoElement" class="w-100" autoplay></video>
                <!-- 开始/停止录制按钮 -->
                <div class="mt-3">
                    <button id="startButton" class="btn btn-primary mr-2">开始录制</button>
                    <button id="stopButton" class="btn btn-danger" disabled>停止录制</button>
                </div>
            </div>
            <div class="col-md-6">
                <!-- 用于上传MP4的文件输入 -->
                <input type="file" id="fileInput" class="form-control mb-3" accept=".mp4">
                <!-- 文件开始/停止录制按钮 -->
                <div class="mb-3">
                    <button id="startButtonFile" class="btn btn-primary mr-2">开始录制</button>
                    <button id="stopButtonFile" class="btn btn-danger" disabled>停止录制</button>
                </div>
                <!-- 跳转帧按钮 -->
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="jumpFrame">
                    <label class="form-check-label" for="jumpFrame">跳转帧</label>
                </div>
                <div id="jumptext"></div>
            </div>
        </div>
    </div>

    <!-- 用于结果的画布 -->
    <canvas id="resultCanvas" class="mt-3 mx-auto d-block"></canvas>
    <style>
        /* 将 video 元素隐藏 */
        video {
            display: none;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 引入 Bootstrap JS 和你的自定义脚本 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js" integrity="sha512-7rusk8kGPFynZWu26OKbTeI+QPoYchtxsmPeBqkHIEXJxeun4yJ4ISYe7C6sz9wdxeE1Gk3VxsIWgCZTc+vX3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>
        // 你的JavaScript代码放在这里
        let videoStream;
        let audioStream;
        let audio_mediaRecorder;
        let mediaSource;
        let sourceBuffer;
        // let vidio_mediaRecorder;
        let dingshi;
        let jump=false;
        let jpcount=0;
        let audioChunks = [];
        let audioContext;
        let mediaRecorder;
        let width;
        let height;
        let resetCanvasSize=1;
        let all_frame=[];
        let frameCount=0;
        let originTime=Date.now();
        let lastFrame=Date.now();
        let ct1,ct2,ct3;
        let worker = new Worker('static/worker.js');

        const startButton = document.getElementById('startButton');
        const stopButton = document.getElementById('stopButton');
        const startButtonFile = document.getElementById('startButtonFile');
        const stopButtonFile= document.getElementById('stopButtonFile');
        const resultCanvas = document.getElementById("resultCanvas");
        const resultContext = resultCanvas.getContext("2d");
        const video = document.getElementById("videoElement");
        const jumpFrame = document.getElementById("jumpFrame");
        const jumptext=document.getElementById("jumptext");

        let fileInput = document.getElementById('fileInput');

        startButtonFile.addEventListener('click',async () =>{
            ct1=0,ct2=0,ct3=0;
            capCost=0;
            frameCount=0;
            resetCanvasSize=1;
            let file = fileInput.files[0];
            let videoURL = URL.createObjectURL(file);
            video.src = videoURL;
            video.display="none";
            const formData = new FormData();
            formData.append('mp4File', file);

            try {
                const response = await fetch('/upload_mp4', {
                    method: 'POST',
                    body: formData
                });
            } catch (error) {
                console.error('Error uploading file:', error);
                alert('Error uploading file.');
            }
            startButtonFile.disabled = true;
            stopButtonFile.disabled = false;
        })
        stopButtonFile.addEventListener('click',async () =>{
            clearInterval(dingshi); // 停止发送帧数据
            startButtonFile.disabled = false; // 启用开始录制按钮
            stopButtonFile.disabled = true; // 禁用停止录制按钮
            const formData = new FormData();
                // formData.append('audio', blob, 'audio.wav');
                formData.append('isFromCamera',false);
                formData.append('imgWidth',width);
                formData.append('imgHeight',height);
                await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });
                video.pause();
        })
        function EveryFrame(){
            let ct0=Date.now();
            while(ct0-lastFrame<33){
                ct0=Date.now();
            }
            ct1=ct0-lastFrame;
            console.log('frame gap',ct1,"cap",ct2,"send",ct3);
            lastFrame=Date.now();
            const {imageData,imageWidth,imageHeight} = captureFrame(video);
            ct2=Date.now()-lastFrame;
            temp=Date.now();
            // all_frame.push(imageData);
            sendData(imageData,imageWidth,imageHeight,false);
            ct3=Date.now()-temp;
            
            dingshi=setTimeout(EveryFrame,0);
        }

        video.addEventListener('play',() =>{
            originTime=Date.now();
            // const {imageData,imageWidth,imageHeight} = captureFrame(video); 
            // sendData(imageData,imageWidth,imageHeight,false);
            EveryFrame();
            // dingshi = setInterval(function () {
            //     let ct1=Date.now();
            //     console.log('frame gap',ct1-lastFrame)
            //     lastFrame=Date.now();
            //     const {imageData,imageWidth,imageHeight} = captureFrame(video);
            //     // all_frame.push(imageData);
            //     sendData(imageData,imageWidth,imageHeight,false);
            // }, 1); // 每30ms发送一次帧
        })

        video.addEventListener('ended', async () => {

            console.log('all frame',frameCount,Date.now()-originTime);
            // clearInterval(dingshi); // 停止发送帧数据
            clearTimeout(dingshi);
            startButtonFile.disabled = false; // 启用开始录制按钮
            stopButtonFile.disabled = true; // 禁用停止录制按钮
            const formData = new FormData();
                // formData.append('audio', blob, 'audio.wav');
                formData.append('isFromCamera',false);
                formData.append('imgWidth',width);
                formData.append('imgHeight',height);
                await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });
            // URL.revokeObjectURL(video.src);
        });

        startButton.addEventListener('click', async () => {
            resetCanvasSize=1;
            videoStream = await navigator.mediaDevices.getUserMedia({ video: true });
            audioStream = await navigator.mediaDevices.getUserMedia({ audio: true });
            video.srcObject = videoStream;

            audio_mediaRecorder = new MediaRecorder(audioStream);
            audio_mediaRecorder.addEventListener('dataavailable', event => {
                audioChunks.push(event.data);
            });
            audio_mediaRecorder.addEventListener('stop', async () => {
                const blob = new Blob(audioChunks, { type: 'audio/wav' });
                const formData = new FormData();
                formData.append('audio', blob, 'audio.wav');
                formData.append('isFromCamera',true);
                formData.append('imgWidth',width);
                formData.append('imgHeight',height);
                console.log("upload",resultCanvas.width,resultCanvas.height)
                await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });
                //一定要清空！！！
                audioChunks=[];
            });

            audio_mediaRecorder.start();

            startButton.disabled = true;
            stopButton.disabled = false;
            // dingshi = setInterval(function () {
            //     const {imageData,imageWidth,imageHeight} = captureFrame(video);
            //     // all_frame.push(imageData);
            //     sendData(imageData,imageWidth,imageHeight,true);
            // }, 30); // 每30ms发送一次帧

        });

        stopButton.addEventListener('click', () => {
            audio_mediaRecorder.stop();
            clearTimeout(dingshi);
            videoStream.getTracks().forEach(track => track.stop());
            audioStream.getTracks().forEach(track => track.stop());

            startButton.disabled = false;
            stopButton.disabled = true;

        });

        jumpFrame.addEventListener("click", () => {
            jump=!jump;
            jumptext.innerText=jump;

        });   
        // 获取视频帧并转换为 base64 编码的图像数据
        function captureFrame(video) {
            frameCount++;
            const canvas = document.createElement("canvas");
            const maxWidth = 640;
            const maxHeight = 640;
            width = video.videoWidth;
            height = video.videoHeight;
            if(resetCanvasSize){
                resultCanvas.width=width;
                resultCanvas.height=height;
                resetCanvasSize=0;
            }

            // 如果视频的宽度或高度大于最大宽度或高度，进行等比例缩放
            if (width > maxWidth || height > maxHeight) {
                const aspectRatio = width / height;
                if (aspectRatio > 1) {
                    // 宽度大于高度，按照宽度进行缩放
                    width = maxWidth;
                    height = maxWidth / aspectRatio;
                } else {
                    // 高度大于宽度，按照高度进行缩放
                    height = maxHeight;
                    width = maxHeight * aspectRatio;
                }
            }
            //得是偶数
            width=width-width%2
            height=height-height%2
            canvas.width = width;
            canvas.height = height;
            // console.log(width,height);
            const context = canvas.getContext("2d");
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            
            let data=canvas.toDataURL("image/jpeg");
            return {
                imageData:data,
                imageWidth:width,
                imageHeight:height
            }
        }
      // 发送数据到服务器
        function sendData(imageData,imageWidth,imageHeight,flipFrame) {
        if(jump){
            jpcount++;
        }
        else{
            jpcount=1;
        }
        fetch("/process_frame", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ 
            image_data: imageData,
            jumpORnot:jpcount%2,
            imgWidth:imageWidth,
            imgHeight:imageHeight,
            imgFlip:flipFrame
        }),
        })
          .then((response) => response.text())
          .then((data) => {
            if(resultCanvas.width==0 || resultCanvas.height==0){
                resultCanvas.width=video.videoWidth;
                resultCanvas.height=video.videoHeight;
            }
                // 渲染服务器处理后的图像到 canvas 上
                const img = new Image();
                img.onload = function() {
                    // 清除之前的渲染
                    resultContext.clearRect(0, 0, resultCanvas.width, resultCanvas.height);
                    // 将图像渲染到 canvas 上
                    resultContext.drawImage(img, 0, 0, resultCanvas.width, resultCanvas.height);
                    // console.log(resultCanvas.width, resultCanvas.height);
                    
                };
                img.src = "data:image/jpeg;base64," + data;
            })
          .catch((error) => {
            console.error("Error sending data to server: ", error);
            // alert("An error occurred while processing the frame. Please try again later.");
          });
      }

    </script>
</body>
</html>
