<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Perspective Transform with HTML5 Canvas</title>
        <style>

            body {
                background-color: black;
                overflow: hidden;
                margin: 0;
            }

            #overlayCanvas {
                opacity: 0;
                /* 设置覆盖层的透明度 */
                pointer-events: none;
                /* 防止覆盖层拦截鼠标事件 */
                left: 10px;
                top: 10px;
                /* border: 1px solid black; */
                position: absolute;
            }

            #copy_canvas {
                opacity: 0.5;
                pointer-events: none;
                /* 防止覆盖层拦截鼠标事件 */
                right: 10px;
                top: 10px;
                /* border: 1px solid black; */
                position: absolute;
            }
        </style>
    </head>

    <body>
        <canvas id="court_canvas"></canvas>
        <canvas id="overlayCanvas"></canvas>
        <canvas id="copy_canvas"></canvas>
        <script>
            // 定义一些全局变量
            let court_canvas,
                court_ctx,
                copy_canvas,
                copy_ctx,
                srcImg,
                dstImg,
                srcPoints,
                dstPoints,
                selectedPoint = -1;
            let canvasWidth, canvasHeight;
            var court_x;
            var court_y;
            let ipm = [
                [1, 0, 0],
                [0, 1, 0],
                [0, 0, 1],
            ];
            let court_img = "shortcourt.png";
            let real_court_img = "R6.png";
            function dot(matrixA, matrixB) {
                if (matrixA[0].length !== matrixB.length) {
                    throw "矩阵尺寸不兼容";
                }

                var result = [];
                for (var i = 0; i < matrixA.length; i++) {
                    result[i] = [];
                    for (var j = 0; j < matrixB[0].length; j++) {
                        var sum = 0;
                        for (var k = 0; k < matrixA[0].length; k++) {
                            sum += matrixA[i][k] * matrixB[k][j];
                        }
                        result[i][j] = sum;
                    }
                }
                return result;
            }

            // 初始化Canvas和图像
            function initCanvas() {
                court_canvas = document.getElementById("court_canvas");
                court_ctx = court_canvas.getContext("2d");
                copy_canvas = document.getElementById("copy_canvas");
                copy_ctx = copy_canvas.getContext("2d");
                // 创建一个新的 Canvas 元素
                var newCanvas = document.createElement("canvas");
                var newCtx = newCanvas.getContext("2d");

                // 设置新的 Canvas 的长宽为满屏幕大小
                newCanvas.width = window.innerWidth;
                newCanvas.height = window.innerHeight;

                srcImg = new Image();
                srcImg.onload = () => {
                    copy_canvas.width = srcImg.width * 0.5;
                    copy_canvas.height = srcImg.height * 0.5;
                    copy_ctx.drawImage(
                        srcImg,
                        0,
                        0,
                        copy_canvas.width,
                        copy_canvas.height
                    );

                    const maxWidth = window.innerWidth;
                    const maxHeight = window.innerHeight;
                    const imageWidth = srcImg.width;
                    const imageHeight = srcImg.height;
                    if (imageWidth / imageHeight > maxWidth / maxHeight) {
                        canvasWidth = maxWidth;
                        canvasHeight = imageHeight * (maxWidth / imageWidth);
                    } else {
                        canvasWidth = imageWidth * (maxHeight / imageHeight);
                        canvasHeight = maxHeight;
                    }
                    // 设置 Canvas 的宽度和高度
                    court_canvas.width = canvasWidth;
                    court_canvas.height = canvasHeight;
                    console.log(canvasWidth, canvasHeight);

                    court_ctx.drawImage(srcImg, 0, 0, canvasWidth, canvasHeight);

                    // 计算绘制位置，使现有的 Canvas 绘制在新的 Canvas 中间
                    court_x = (newCanvas.width - court_canvas.width) / 2;
                    court_y = (newCanvas.height - court_canvas.height) / 2;

                    // 在新的 Canvas 上绘制现有的 Canvas
                    newCtx.drawImage(court_canvas, court_x, court_y);
                    court_canvas.width = newCanvas.width;
                    court_canvas.height = newCanvas.height;
                    court_ctx.clearRect(0, 0, court_canvas.width, court_canvas.height);
                    court_ctx.drawImage(newCanvas, 0, 0);
                    var dataUrl = court_canvas.toDataURL("image/jpeg");
                    // 发送数据到后端保存
                    fetch("/save_image", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ image_data: dataUrl }),
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            console.log("Image saved successfully:", data);
                        })
                        .catch((error) => {
                            console.error("Error saving image:", error);
                        });
                    resetPoints();
                };
                srcImg.src = "static/" + court_img; // 替换为你的图像路径

                let overImg = new Image();
                overImg.onload = () => {
                    over_canvas = document.getElementById("overlayCanvas");
                    over_ctx = over_canvas.getContext("2d");
                    over_canvas.width = overImg.width;
                    over_canvas.height = overImg.height;
                    over_ctx.drawImage(
                        overImg,
                        0,
                        0,
                        over_canvas.width,
                        over_canvas.height
                    );
                };
                overImg.src = "static/" + real_court_img;
            }

            // 重置映射点到默认位置
            function resetPoints() {
                srcPoints = [
                    // { x: 0, y: 0 },
                    // { x: canvas.width, y: 0 },
                    // { x: canvas.width, y: canvas.height },
                    // { x: 0, y: canvas.height }
                ];
                dstPoints = [
                    // { x: 0, y: 0 },
                    // { x: canvas.width , y: 0 },
                    // { x: canvas.width , y: canvas.height    },
                    // { x: 0, y: canvas.height    }
                ];
            }

            // 绘制场景
            function drawScene() {
                applyPerspectiveTransform();
                drawPoints();
            }

            // 绘制映射点
            function drawPoints() {
                for (let i = 0; i < dstPoints.length; i++) {
                    drawPoint(dstPoints[i], selectedPoint === i ? "red" : "yellow");
                }
            }

            // 绘制单个点
            function drawPoint(point, color, context = court_ctx, radus = 20, alpha = 0.3) {
                context.globalAlpha = alpha;
                context.beginPath();
                context.arc(point.x, point.y, radus, 0, 2 * Math.PI);
                context.fillStyle = color;
                context.fill();
                context.closePath();
                context.globalAlpha = 1;
            }

            function drawPoint_nXY(point,color,dstContext = copy_ctx,dstCanvas = copy_canvas,radus = 20,alpha = 0.3) {
                // dstContext.globalAlpha = alpha;
                dstContext.beginPath();
                dstContext.arc(point.x * dstCanvas.width,point.y * dstCanvas.height,radus,0,2 * Math.PI);
                dstContext.fillStyle = color;
                dstContext.fill();
                dstContext.closePath();
                // dstContext.globalAlpha = 1;
            }

            // 处理鼠标点击事件
            function handleMouseDown(event) {
                const rect = court_canvas.getBoundingClientRect();
                const x = event.clientX - rect.left;
                const y = event.clientY - rect.top;
                console.log(x, y);
                if (srcPoints.length < 4) {
                    let point = { x: x, y: y };
                    srcPoints.push(point);
                    dstPoints.push(point);
                    drawPoint(
                        point,
                        "yellow",
                        (context = court_ctx),
                        (radus = 20),
                        (alpha = 0.3)
                    );
                    return;
                }
                for (let i = 0; i < 4; i++) {
                    if (
                        Math.sqrt(
                            Math.pow(x - dstPoints[i].x, 2) + Math.pow(y - dstPoints[i].y, 2)
                        ) <= 20
                    ) {
                        selectedPoint = i;
                        return;
                    } else {
                        drawPoint({ x: x, y: y }, "blue", court_ctx, 5);
                        let input_point = [[x], [y], [1]];
                        let output_point;
                        if (ipm) {
                            output_point = dot(ipm, input_point);
                            output_point[0] /= output_point[2];
                            output_point[1] /= output_point[2];
                            drawPoint_nXY(
                                {
                                    x: (output_point[0] - court_x) / (court_canvas.width - 2 * court_x),
                                    y:
                                        (output_point[1] - court_y) / (court_canvas.height - 2 * court_y),
                                },
                                "blue",
                                copy_ctx,
                                copy_canvas,
                                5
                            );
                            console.log(output_point);
                        }
                    }
                }
                selectedPoint = -1;
            }

            // 处理鼠标移动事件
            function handleMouseMove(event) {
                if (selectedPoint >= 0) {
                    const rect = court_canvas.getBoundingClientRect();
                    const x = event.clientX - rect.left;
                    const y = event.clientY - rect.top;
                    dstPoints[selectedPoint] = { x, y };
                    drawScene();
                }
            }

            // 处理鼠标释放事件
            function handleMouseUp(event) {
                if (selectedPoint >= 0) {
                    drawScene();
                    selectedPoint = -1;
                }
            }

            // // 应用透视变换
            function applyPerspectiveTransform() {
                const rect = court_canvas.getBoundingClientRect();
                const data = {
                    src_points: srcPoints,
                    dst_points: dstPoints,
                };
                fetch("/calculate_perspective_matrix", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        ipm = data.perspective_matrix;
                        // 假设 response 是从后端收到的 JSON 响应对象
                        var outputImageBase64 = data.output_image_base64;

                        var img = new Image();
                        img.src = "data:image/jpeg;base64," + outputImageBase64;
                        img.onload = function () {
                            // var court_canvas = document.getElementById("court_canvas");
                            // var court_ctx = canvas.getContext("2d");
                            court_ctx.drawImage(img, 0, 0, court_canvas.width, court_canvas.height);
                            drawPoints();
                        };
                        // 这里可以根据需要处理从服务器端接收到的透视变换矩阵
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });
                drawPoints();
            }

            // 设置事件监听器
            function setupEventListeners() {
                court_canvas.addEventListener("mousedown", handleMouseDown);
                court_canvas.addEventListener("mousemove", handleMouseMove);
                court_canvas.addEventListener("mouseup", handleMouseUp);
            }

            // 当DOM加载完成后初始化Canvas并设置事件监听器
            document.addEventListener("DOMContentLoaded", function () {
                initCanvas();
                setupEventListeners();
            });
        </script>
    </body>
</html>
